.boardTemplate {
  width: 100%;
  margin-bottom: 80px;
  thead {
    background-color: $turquoise;
    color: $white;
    text-align: center;
    th {
      padding-top: 23px;
      padding-bottom: 23px;
    }
  }
  tbody {
    color: $brownish-grey;
    @include Text-Style-45;
    td {
      padding: 23px;
      border-bottom: 1px solid $very-light-pink-four;
      color: $brownish-grey;
      a {
        color: $brownish-grey;
        text-decoration: none;
        &:hover {
          color: $black;
        }
      }
      &.date,
      &.author,
      &.attachment {
        text-align: center;
      }
    }
  }
}
.boardTemplate + .paginationWrap {
  justify-content: center;
  @include Text-Style-53;
  a {
    color: $brown-grey-two;
    text-decoration: none;
    &:hover {
      color: $black;
    }
  }
}
