footer#colophon.site-footer,
a.skip-link.screen-reader-text,
#page header.site-header {
  display: none;
}

html .container {
  @include respondTo("hg") {
    max-width: 1230px;
  }
  @include respondTo("mlg") {
    padding-right: 30px;
    padding-left: 30px;
  }
  @include respondTo("mhg") {
    max-width: 1000px;
  }
}

// ie11
body.ie11 img.objectfit {
  display: none;
}
button, button:focus {
  outline:none;
  border:none;
  background:transparent;
}

body.mobile {
  #myVideo {
    display: none;
  }
  .visual_mobile {
    display: block;
  }
}

.slick-slide:focus {
  outline: none;
}

@include respondTo("msm") {
  br {
    display: none !important;
  }
}