header.default {
  position: relative;
  color: $white;
  .coverBg {
    height: 437px;
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
    @include respondTo("mxl") {
      height: 280px;
      .container {
        padding-top: 50px;
      }
    }
  }
  .container {
    z-index: 200;
    position: relative;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respondTo("mlg") {
      transform: translate(-50%, -25%);
    }
    .parent {
      @include Text-Style-24;
      margin-bottom: 9px;
    }
    .downArrow {
      width: 18px;
      margin-bottom: 8px;
      svg {
        width: 100%;
        height: 18px;
        path {
          fill: $white;
        }
      }
    }
    button {
      all: unset;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover circle {
        opacity: 1;
      }
      p {
        color:#fff;
        margin-right: 13px;
        @include Text-Style-25;
        margin-bottom: 0;
        @include respondTo("mlg") {
          @include TextTitle-M;
        }
        @include respondTo("msm") {
          @include TextTitle-S;
        }
      }
      circle {
        opacity: 0.6;
        fill: $off-white;
        transition: opacity 0.3s;
      }
    }
    .selectorWrap {
      position: relative;
    }
    .dropdown-menu {
      margin-top: 18px;
      padding: 20px 0;
      background-color: $white;
      width: 100%;
      border: none;
      border-radius: 0;
      box-shadow: 2px 8px 0px rgba(0,0,0,0.15);
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li.menu-item {
          text-align: center;
          line-height: 2em;
        }
        a {
          color: rgba(0,0,0,0.4);
          text-decoration: none;
        }
        li.menu-item.current-menu-item a {
          color: $black;
          font-weight: bold;
        }
      }
    }
  }
}
