main.history {
  .section1 {
    padding-top: 105px;
    padding-bottom: 95px;
    .sectionTitle {
      color: $black;
      @include Text-Style-26;
      text-align: center;
      margin-bottom: 22px;
    }
    .sectionTitle + p {
      margin: 0 auto;
      color: $black;
      @include Text-Style-40;
      max-width: 800px;
      text-align: center;
    }
  }
}
