@mixin slickCarouselVideo {
  .slickCarouselVideo {
    &.sliderWrap {
      position: relative;
    }
    .slide {
      border: none;
      outline: none;
    }
    .slickSlideBg .videoWrap {
      position: relative;
      overflow: hidden;
      &.empty {
        padding-top: 56.6%;
        .controlBtn {
          display: none;
        }
      }
      &.play {
        .bottomCover,
        .controlBtn,
        .poster {
          display: none;
        }
      }
      .bottomCover {
        width: 100%;
        height: 140px;
        position: absolute;
        opacity: 0.55;
        background-color: $black-two;
        bottom: 0;
        z-index: 3;
        @include respondTo('mmd') {
          height: 90px;
        }
      }
      .controlBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        width: 100%;
        height: 100%;
        background-color: rgba($black-two, 0.3);
        img {
          cursor: pointer;
        }
      }
      .poster {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      video {
        width: 100%;
      }
    }
    .slickSlideSmall {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      @include respondTo('mmd') {
        bottom: 20px;
      }
      .slick-slide {
        cursor: pointer;
      }
      .slick-current {
        .thumbnail {
          border: 3px solid $turquoise-two;
          img {
            filter: grayscale(0);
          }
        }
        .title {
          display: none;
          color: $white;
          opacity: 1;
        }
      }
      .slick-slide:hover {
        .thumbnail {
          border: 3px solid $turquoise-two;
          img {
            filter: grayscale(0);
          }
        }
        .title {
          opacity: 1;
          color: $white;
        }
      }
      .thumbnail {
        width: 240px;
        height: 150px;
        overflow: hidden;
        border: 3px solid transparent;
        transition: border 0.3s ease-in-out;
        will-change: border;
        img {
          width: 100%;
          filter: grayscale(80%);
          transition: filter 0.3s ease-in-out;
          will-change: filter;
        }
        // @include respondTo("mhg") {
        //   width: 150px;
        //   height: auto;
        // }
      }
      .title {
        display: none;
        padding-top: 15px;
        opacity: 0.5;
        color: $white;
        @include Text-Style-50;
        text-align: center;
        transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
      }
    }
    .slick-dots {
      bottom: 10px;
      li {
        button {
          background: rgba(255, 255, 255, 0);
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #fff;
          width: 14px;
          height: 14px;
          &:before {
            content: none;
          }
        }
        &.slick-active {
          button {
            background: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
  @include respondTo('mmd') {
    .slick-list {
      .bottomCover {
        display: none;
      }
    }
    .slick-slider.slickSlideSmall {
      z-index: -1;
    }
  }
}
