$dark-blue-grey: #1e2c46;
$white: #ffffff;
$darkish-blue: #002891;
$turquoise-blue: #00b6d7;
$dark: #151933;
$turquoise: #04adab;
$brownish-grey: #666666;
$black: #222222;
$brown-grey: #aaaaaa;
$very-light-pink: #cccccc;
$black-two: #000000;
$dark-cyan: #098087;
$pale-grey: #fefeff;
$pale-grey-two: #fdfeff;
$greyish-brown: #414040;
$dark-indigo: #0a1334;
$white-two: #fefefe;
$very-light-pink-two: #efefef;
$off-white: #f7f6f2;
$black-three: #333333;
$deep-aqua: #087f86;
$turquoise-two: #03aaa8;
$very-light-pink-three: #b7b7b7;
$topaz: #1ab3b1;
$robin-s-egg-blue: #abdede;
$black-four: #1a1818;
$very-light-pink-four: #dddddd;
$brown-grey-two: #999999;
