@font-face {
  font-family: NotoSansCJKkr;
  src: local(NotoSansCJKkr-DemiLight),
    url(/assets/fonts/NotoSansCJKkr-DemiLight.woff2) format("woff2"),
    url(/assets/fonts/NotoSansCJKkr-DemiLight.woff) format("woff"),
    url(/assets/fonts/NotoSansCJKkr-DemiLight.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NotoSansCJKkr;
  src: local(NotoSansCJKkr-Light),
    url(/assets/fonts/NotoSansCJKkr-Light.woff2) format("woff2"),
    url(/assets/fonts/NotoSansCJKkr-Light.woff) format("woff"),
    url(/assets/fonts/NotoSansCJKkr-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NotoSansCJKkr;
  src: local(NotoSansCJKkr-Regular),
    url(/assets/fonts/NotoSansCJKkr-Regular.woff2) format("woff2"),
    url(/assets/fonts/NotoSansCJKkr-Regular.woff) format("woff"),
    url(/assets/fonts/NotoSansCJKkr-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NotoSansCJKkr;
  src: local(NotoSansCJKkr-Medium),
    url(/assets/fonts/NotoSansCJKkr-Medium.woff2) format("woff2"),
    url(/assets/fonts/NotoSansCJKkr-Medium.woff) format("woff"),
    url(/assets/fonts/NotoSansCJKkr-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NotoSansCJKkr;
  src: local(NotoSansCJKkr-Bold),
    url(/assets/fonts/NotoSansCJKkr-Bold.woff2) format("woff2"),
    url(/assets/fonts/NotoSansCJKkr-Bold.woff) format("woff"),
    url(/assets/fonts/NotoSansCJKkr-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NotoSansCJKkr;
  src: local(NotoSansCJKkr-Black),
    url(/assets/fonts/NotoSansCJKkr-Black.woff2) format("woff2"),
    url(/assets/fonts/NotoSansCJKkr-Black.woff) format("woff"),
    url(/assets/fonts/NotoSansCJKkr-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@mixin Text-Style-4 {
  font-family: NotoSansCJKkr;
  font-size: 160px;
  font-weight: bold;
  line-height: 0.41;
  text-align: left;
}

@mixin Text-Style-16 {
  font-family: NotoSansCJKkr;
  font-size: 62px;
  font-weight: 900;
  line-height: 0.95;
  letter-spacing: -0.62px;
  text-align: center;
}

@mixin Text-Style-14 {
  font-family: NotoSansCJKkr;
  font-size: 62px;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.62px;
  text-align: left;
}

@mixin Text-Style-12 {
  font-family: NotoSansCJKkr;
  font-size: 62px;
  font-weight: 900;
  line-height: 1.13;
  letter-spacing: -0.62px;
  text-align: left;
}

@mixin Text-Style-7 {
  font-family: NotoSansCJKkr;
  font-size: 62px;
  font-weight: 900;
  line-height: 0.43;
  letter-spacing: -0.62px;
  text-align: center;
}

@mixin Text-Style {
  font-family: NotoSansCJKkr;
  font-size: 62px;
  font-weight: 900;
  line-height: 1.29;
  letter-spacing: -0.62px;
  text-align: center;
}

@mixin Text-Style-32 {
  font-family: NotoSansCJKkr;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.28;
  letter-spacing: -0.5px;
  text-align: left;
}

@mixin Text-Style-26 {
  font-family: NotoSansCJKkr;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.28;
  letter-spacing: -0.5px;
  text-align: center;
}

@mixin Text-Style-9 {
  font-family: NotoSansCJKkr;
  font-size: 50px;
  font-weight: bold;
  line-height: 0.9;
  letter-spacing: -0.5px;
  text-align: left;
}

@mixin Text-Style-25 {
  font-family: NotoSansCJKkr;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.08;
  text-align: right;
}

@mixin Text-Style-11 {
  font-family: NotoSansCJKkr;
  font-size: 40px;
  font-weight: bold;
  line-height: 0.73;
  letter-spacing: -0.4px;
  text-align: left;
}

@mixin Text-Style-5 {
  font-family: NotoSansCJKkr;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
}

@mixin Text-Style-34 {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.53;
  letter-spacing: -0.36px;
  text-align: center;
}

@mixin Text-Style-36 {
  font-family: NotoSansCJKkr;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.64;
  letter-spacing: -0.42px;
  text-align: left;
}

@mixin Text-Style-30 {
  font-family: NotoSansCJKkr;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.64;
  letter-spacing: -0.42px;
  text-align: center;
}

@mixin Text-Style-39 {
  font-family: NotoSansCJKkr;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: -0.26px;
  text-align: left;
}

@mixin Text-Style-33 {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: -0.24px;
  text-align: center;
}

@mixin Text-Style-19 {
  font-family: NotoSansCJKkr;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.32;
  letter-spacing: -0.22px;
  text-align: center;
}

@mixin Text-Style-3 {
  font-family: NotoSansCJKkr;
  font-size: 22px;
  font-weight: bold;
  line-height: 2.09;
  letter-spacing: -0.22px;
  text-align: center;
}

@mixin Text-Style-8 {
  font-family: NotoSansCJKkr;
  font-size: 22px;
  line-height: 1.55;
  letter-spacing: -0.22px;
  text-align: center;
}

@mixin Text-Style-17 {
  font-family: NotoSansCJKkr;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.55;
  letter-spacing: -0.22px;
  text-align: center;
}

@mixin Text-Style-18 {
  font-family: NotoSansCJKkr;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.32;
  letter-spacing: -0.22px;
  text-align: center;
}

@mixin Text-Style-2 {
  font-family: NotoSansCJKkr;
  font-size: 22px;
  font-weight: 300;
  line-height: 2.09;
  letter-spacing: -0.22px;
  text-align: center;
}

@mixin Text-Style-28 {
  font-family: NotoSansCJKkr;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.09;
  text-align: left;
}

@mixin Text-Style-22 {
  font-family: NotoSansCJKkr;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.09;
  text-align: left;
}

@mixin Text-Style-24 {
  font-family: NotoSansCJKkr;
  font-size: 22px;
  line-height: 1.09;
  text-align: left;
}

@mixin Text-Style-35 {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.2px;
  text-align: center;
}

@mixin Text-Style-37 {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: -0.3px;
  text-align: left;
}

@mixin Text-Style-31 {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: -0.3px;
  text-align: center;
}

@mixin Text-Style-6 {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: -0.2px;
  text-align: center;
}

@mixin Text-Style-15 {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: -0.2px;
  text-align: left;
}

@mixin Text-Style-13 {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: -0.2px;
  text-align: left;
}

@mixin Text-Style-40 {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.9;
  letter-spacing: -0.2px;
  text-align: center;
}

@mixin Text-Style-27 {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.9;
  letter-spacing: -0.2px;
  text-align: left;
}

@mixin Text-Style-23 {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  line-height: 2.5;
  text-align: left;
}

@mixin Text-Style-43 {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.78;
  letter-spacing: -0.18px;
  text-align: center;
}

@mixin Text-Style-10 {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: -0.18px;
  text-align: center;
}

@mixin Text-Style-38 {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.78;
  letter-spacing: -0.18px;
  text-align: left;
}

@mixin Text-Style-29 {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.78;
  letter-spacing: -0.18px;
  text-align: center;
}

@mixin Text-Style-41 {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: -0.16px;
  text-align: left;
}

@mixin Text-Style-42 {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: -0.16px;
  text-align: left;
}

@mixin Text-Style-20 {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.16px;
  text-align: center;
}

@mixin Text-Style-21 {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: -0.16px;
  text-align: center;
}
