main.ceoGreeting {
  .pageTitle {
    @include respondTo("msm") {
      padding-top: 60px;
    }
  }
  .section1 {
    p {
      @include Text-Style-27;
    }
    margin-bottom: 160px;
    @include respondTo("mmd") {
      margin-bottom: 60px;
    }
    @include respondTo("msm") {
      margin-bottom: 40px;
    }
  }
  .section2 {
    text-align: center;
    background-color: #0b0b0b;
    height: 690px;
    position: relative;
    @include respondTo("mlg") {
      height: 480px;
    }
    @include respondTo("mmd") {
      height: 450px;
      display: flex;
      align-items: flex-end;
      background-image: url('#{$zeplin}/ceo-bg.jpg');
      background-repeat: repeat-x;
      background-size: cover;
      background-position: top center;
    }
    @include respondTo("msm") {
      height: 600px;
    }
    .ceo {
      object-fit: cover;
      width: 100%;
      height: 100%;
      &.mobile {
        display:none;
      }
      @include respondTo("mmd") {
        object-fit: contain;
        width: 100%;
        height: initial;
        vertical-align: bottom;
      }
      @include respondTo("msm") {
        display:none;
        &.mobile {
          display:block;
        }
      }
    }
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      @include respondTo("mmd") {
        top: 40%;
      }
      @include respondTo("msm") {
        top: 50px;
        left:0;
        transform: none;
      }
    }
    .name {
      @include Text-Style-36;
    }
    .position {
      @include Text-Style-37;
      margin-bottom: 34.7px;
      @include respondTo("mmd") {
        @include TextP-M;
      }
    }
    p {
      @include Text-Style-38;
      margin-bottom: 40px;
      max-width: 512px;
      @include respondTo("mmd") {
        @include TextP-M;
      }
    }
  }
}
