main.ceoGreeting {
  .section1 {
    p {
      @include Text-Style-27;
    }
    margin-bottom: 160px;
  }
  .section2 {
    text-align: center;
    background-color: #0b0b0b;
    height: 690px;
    position: relative;
    .ceo {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
    }
    .name {
      @include Text-Style-36;
    }
    .position {
      @include Text-Style-37;
      margin-bottom: 34.7px;
    }
    p {
      @include Text-Style-38;
      margin-bottom: 40px;
      max-width: 512px;
    }
  }
}
