main.corporateCulture {
  .pageTitle {
    @include respondTo('mhg') {
      padding-top: 80px;
      margin-bottom: 80px;
    }
    @include respondTo('msm') {
      padding-top: 60px;
      margin-bottom: 60px;
    }
  }
  .section1 {
    padding-bottom: 100px;
    @include respondTo('msm') {
      padding-bottom: 40px;
    }
    .container-md-fluid {
      @include respondTo('msm') {
        padding: 0 20px !important;
      }
    }
    .row {
      position: relative;
      margin: 0;
      @include respondTo('md') {
        background-color: $very-light-pink-two;
      }
      &:not(:last-child) {
        margin-bottom: 70px;
        @include respondTo('mhg') {
          margin-bottom: 30px;
        }
      }
      img {
        width: 100%;
      }
      > div {
        display: flex;
        align-items: center;
        padding: 0;
      }
      .imgCol {
        order: -1;
        margin-bottom: 30px;
        @include respondTo('md') {
          order: unset;
          margin-bottom: 0;
        }
      }
      @include respondTo('md') {
        > div:nth-child(1) {
          justify-content: flex-end;
          .contentWrap {
            padding-right: 120px;
          }
        }
        > div:nth-child(2) {
          justify-content: flex-start;
          .contentWrap {
            padding-left: 120px;
          }
        }
      }
      @include respondTo('mhg') {
        > div:nth-child(1) {
          justify-content: center;
          .contentWrap {
            padding-right: 40px;
            padding-left: 40px;
          }
        }
        > div:nth-child(2) {
          justify-content: center;
          .contentWrap {
            padding-right: 40px;
            padding-left: 40px;
          }
        }
        .contentWrap {
          .title {
            @include TextTitle-S;
          }
          .content {
            @include TextP-M;
          }
        }
      }
      @include respondTo('msm') {
        > div:nth-child(1),
        > div:nth-child(2) {
          .contentWrap {
            width: 100%;
            padding: 10px 0;
          }
        }
      }
    }
    .contentWrap {
      max-width: 620px;
      padding: 0;
      width: 90%;
      margin: 0 auto;
      @include respondTo('mlg') {
        padding: 40px;
      }
      @include respondTo('md') {
        width: 100%;
        margin: 0;
      }
      .title {
        color: $black;
        @include Text-Style-52;
        margin-bottom: 30px;
      }
      .content {
        color: $black;
        @include Text-Style-27;
      }
    }
    @include respondTo('mlg') {
      .imgCol {
        overflow: hidden;
        height: 300px;
        img {
          width: auto;
          height: 100%;
        }
      }
    }
  }
}
