main.facilityPlantIntroduction {
  .pageTitle p {
    max-width: 860px;
  }
  .sprite > .row {
    &:nth-child(2n -1) {
      background-color: $very-light-pink-two;
    }
  }
  .label {
    margin-right: 20px;
    min-width: 100px;
    display: inline-block;
    color: $black;
    @include Text-Style-44;
  }
  .value {
    color: $brownish-grey;
    @include Text-Style-45;
  }
  .section1 {
    margin-bottom: 50px;
    .eg-washington-element-3 {
      font-size: 40px;
    }
  }
}
