@mixin goalElement {
  .goalElement {
    color: $black;
    fill: $brownish-grey;
    position: relative;
    overflow: hidden;
    border-radius: 9999px;
    width: 400px;
    height: 400px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $very-light-pink-two;
    &:hover {
      color: $white;
      fill: $white;
      .bgCover {
        opacity: 1;
      }
    }
    .bgCover {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 1;
      background-color: $turquoise;
      border-radius: 9999px;
    }
    .content {
      position: relative;
      z-index: 2;
      text-align: center;
    }
    .title {
      @include Text-Style-34;
    }
    .desc {
      margin-bottom: 50px;
    }
    svg {
      width: 68px;
      height: 68px;
    }
    @include respondTo('mhg') {
      width: 300px;
      height: 300px;
      .title {
        @include TextTitle-S;
      }
      .desc {
        @include TextP-M;
        margin-bottom: 20px;
      }
      svg {
        width: 56px;
        height: 56px;
      }
    }
  }
}

main.managementIdeology {
  .labelTitle {
    display: inline-block;
    @include Text-Style-33;
    // border-bottom: 4px solid $black-two;
  }
  .labelContent {
    @include Text-Style-32;
    @include respondTo('mhg') {
      @include TextTitle-M;
    }
  }
  .container {
    @include respondTo('hg') {
      max-width: 1300px;
    }
  }
  .nonslider {
    @include respondTo('mlg') {
      display: none;
    }
  }
  .section1 {
    position: relative;
    @include respondTo('mlg') {
      display: flex;
      flex-direction: column;
    }
    @include respondTo('mmd') {
      margin-top: 60px;
    }
    @include respondTo('msm') {
      margin-top: 30px;
    }
    // .bgCover {
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   width: 50%;
    //   transform: translateX(-900px);
    //   @include respondTo("mhg") {
    //   }
    //   @include respondTo("mlg") {
    //     order: 2;
    //     width: 100%;
    //     left: 0;
    //     display: flex;
    //     transform: none;
    //     position: relative;
    //     img {
    //       position: relative;
    //       right: 0;
    //       height: auto;
    //       width: 100%;
    //     }
    //   }
    //   @include respondTo("msm") {
    //     height: auto;
    //   }
    // }
    .container {
      position: relative;
      @include respondTo('hg') {
        max-width: 1400px;
      }
      @include respondTo('mlg') {
        order: 1;
        width: 100%;
        max-width: unset;
      }
      @include respondTo('msm') {
        padding-bottom: 20px;
      }
    }
    .imgCol {
      img {
        transform: translateX(-240px);
      }
      @include respondTo('mhg') {
        img {
          height: 650px;
        }
      }
      @include respondTo('mlg') {
        img {
          transform: translateX(-90px);
          height: 500px;
        }
      }
      @include respondTo('mmd') {
        order: 2;
        img {
          transform: none;
          height: auto;
          width: 100%;
        }
      }
    }
    .contentCol {
      height: 720px;
      display: flex;
      align-items: center;
      padding-left: 10%;
      margin-top: 120px;
      background-color: $white;
      color: $black;
      clip-path: polygon(0 150px, 100% 0px, 100% calc(100% - 150px), 0 100%);
      @include respondTo('mhg') {
        height: 580px;
        margin-top: 100px;
        clip-path: polygon(0 120px, 100% 0px, 100% calc(100% - 120px), 0 100%);
      }
      .labelContent {
        padding-top: 150px;
        @include respondTo('mhg') {
          padding-top: 90px;
        }
        @include respondTo('mlg') {
          @include TextTitle-S;
        }
      }
      @include respondTo('mlg') {
        height: 460px;
        margin-top: 80px;
        clip-path: polygon(0 100px, 100% 0px, 100% calc(100% - 100px), 0 100%);
      }
      @include respondTo('mmd') {
        height: auto;
        clip-path: none;
        justify-content: center;
        padding: 40px 0;
        margin-top: 0;
        order: 1;
        .labelContent {
          padding: 0;
          text-align: center;
          @include TextTitle-S;
        }
      }
      @include respondTo('msm') {
        padding: 20px;
      }
    }
  }
  .section2 {
    padding-top: 60px;
    padding-bottom: 100px;
    @include goalElement;
    @include respondTo('mhg') {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @include respondTo('mlg') {
      padding-top: 30px;
      padding-bottom: 60px;
    }
    @include respondTo('msm') {
      padding-bottom: 40px;
    }
    .container {
      text-align: center;
    }
    .labelTitle {
      font-size: 34px;
      @include respondTo('mlg') {
        @include TextTitle-S;
      }
    }
    .desc {
      font-size: 24px;
      @include respondTo('mlg') {
        @include TextP-M;
      }
    }
    .goalWrap {
      padding-top: 100px;
      text-align: center;
      @include respondTo('mhg') {
        padding-top: 50px;
      }
      @include respondTo('mlg') {
        padding-top: 20px;
      }
      .goalElement:nth-child(3n) {
        margin-right: 0;
      }
      .goalElement {
        margin-right: 30px;
        @include respondTo('mlg') {
          width: auto;
          height: auto;
          margin-right: 0;
        }
      }
      &.slider_goal {
        display: block;
        .goalElement {
          background-color: transparent;
          border-radius: 0;
          .container {
            position: relative;
            width: 300px;
            height: 300px;
            overflow: hidden;
            border-radius: 9999px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #efefef;
          }
        }
        @include respondTo('lg') {
          display: none;
        }
        @include respondTo('msm') {
          padding-top: 10px;
        }
        .slick-dots {
          bottom: -50px;
          li {
            button {
              background: #fff;
              border-radius: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #aaa;
              width: 14px;
              height: 14px;
              &:before {
                content: none;
              }
            }
            &.slick-active {
              button {
                background: #aaa;
              }
            }
          }
        }
      }
    }
  }
  .section3 {
    position: relative;
    overflow: hidden;
    background-image: url('#{$zeplin}/2807.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    // .bgCover {
    //   position: absolute;
    //   width: 100%;
    //   img {
    //     width: auto;
    //     @include respondTo("gg") {
    //       width: 100%;
    //     }
    //   }
    // }
    .container {
      position: relative;
      z-index: 2;
      color: $white;
      padding-top: 240px;
      padding-bottom: 140px;
      @include respondTo('mhg') {
        padding-top: 180px;
        padding-bottom: 100px;
      }
      @include respondTo('mlg') {
        padding-top: 130px;
        padding-bottom: 60px;
      }
      .labelTitle {
        border-bottom-color: $white;
        margin-bottom: 41px;
        @include respondTo('mhg') {
          margin-bottom: 20px;
        }
        @include respondTo('mlg') {
          font-size: 24px;
        }
      }
      .labelContent {
        @include respondTo('mlg') {
          @include TextTitle-S;
          text-align: left;
          line-height: 1.4;
        }
      }
    }
  }
}
