main.startUpIdeology {
  .top_image {
    margin-top: -110px;
    img {
      width: 100%;
    }
  }
  .section1 {
    position: relative;
    // max-width: 1800px;
    margin: 0 auto;
    background-color: $very-light-pink-two;
    padding-top: 300px;
    padding-bottom: 180px;
    clip-path: polygon(0 215px, 100% 0%, 100% calc(100% - 215px), 0 100%);
    margin-top: -180px;
    .bgCover {
      position: absolute;
      top: -20px;
      left: 50%;
      height: 100%;
      background-image: url(#{$zeplin}/rectangle-646@3x.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 50%;
    }
    .contentCol {
      @include respondTo("lg") {
        padding-right: 100px;
      }
      color: $black;
      @include Text-Style-27;
    }
  }
  .section2 {
    padding-top: 58px;
    .imgCol {
      @include respondTo("lg") {
        padding-top: 126px;
      }
    }
    .contentCol {
      @include respondTo("lg") {
        padding-left: 100px;
      }
      .title {
        color: $black;
        @include Text-Style-39;
        margin-bottom: 66px;
      }
      p {
        color: $black;
        @include Text-Style-27;
      }
    }
  }
}
