main.sitckbar {
  .pageTitle {
    @include respondTo("msm") {
      padding-top: 60px;
    }
  }
  .section1 {
    position: relative;
    padding-top: 180px;
    padding-bottom: 84px;
    @include respondTo("mlg") {
      padding-bottom: 0;
    }
    @include respondTo("mmd") {
      padding-top: 0px;
    }
    .bgCover {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-100%);
      @include respondTo("mmd") {
        position: relative;
        left: 0;
        width: 100%;
        padding: 0 30px;
        transform: none;
        img {
          width: 100%;
        }
      }
    }
    .contentCol {
      @include respondTo("mmd") {
        flex: 0 0 100%;
        max-width: 100%;
      }
      p {
        color: $black;
        @include Text-Style-49;
        max-width: 900px;
        padding: 120px 200px 200px 120px;
        background-color: $white;
        @include respondTo("mmd") {
          padding: 60px;
          @include TextP-L;
        }
      }
    }
  }

  .section2 {
    padding-top: 90px;
    position: relative;
    @include respondTo("mlg") {
      padding-top: 0px;
    }
    .bgCover {
      position: absolute;
      top: 0;
      left: 50%;
      @media screen and (max-width: 1600px) {
        img {
          width: 100%;
        }
      }
      @include respondTo("mlg") {
        position: relative;
        left: 0;
        padding: 0 30px;
      }
    }
    .contentCol {
      padding-bottom: 60px;
      @include respondTo("mlg") {
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 40px;
      }
      @include respondTo("mmd") {
        padding: 60px;
      }
    }
    .head {
      color: $black;
      @include Text-Style-49;
      @include respondTo("mmd") {
        @include TextP-L;
      }
    }
    p {
      color: $black;
      @include Text-Style-27;
      margin-bottom: 26px;
    }
  }
}
